:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";

  --color-teal: #69f7be;
  --color-blue: #69c8f7;
  --color-purple: #8a69f7;
  --color-pink: #f769d6;
  --color-yellow: #e9f769;
  --color-red: #f76969;
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam-btn-success {
  opacity: 0;
  transition: opacity 1s ease;
}

.fill-most-of-page {
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
  margin: 0 auto;
}

#drawingCanvas {
  pointer-events: none;
}

.transparent {
  opacity: 0;
}

#webcamVideo {
  pointer-events: none;
  transition: opacity 1s ease;
  border-radius: 8px;
  transform: scaleX(-1);
}

#backLink {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

#navLinks {
  position: absolute;
  top: 90%;
  left: 0;
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* add a | after each link but the last one */
#navLinks a:not(:last-child)::after {
  content: "";
  margin: 0 0.5rem;

  border-right: solid 2px var(--color-text-main);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: opacity 500ms ease;
  z-index: 2;
}

.debug-container {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto;
  background-color: white;
  transition: opacity 0.5s ease;
}

.debug-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
  height: 16px;
}

.debug-value {
  display: flex;
  position: relative;
  height: 16px;
  align-items: center;
  z-index: 1;
  width: 100px;
}

.debug-value-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(var(--score) * 100%);
  background-color: #007f8b;
}

.debug-value-text {
  /* this is dumb and i'm doing it so that the text is on top of the bar,
  it's a bad way to do it but it's 1:25 AM on Friday */
  position: relative;
  z-index: 2;
}

h1 {
  margin: 0;
}

a {
  color: var(--color-text-main);
}

img {
  display: block;
  width: 100%;
}

div {
  margin: 0;
}

.finger-puppet {
  position: absolute;
  height: 20%;
  width: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  pointer-events: none;
}

.touchable-button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0;
  top: 0;
  background-color: var(--color-blue);
  color: var(--color-text-main);
  border: none;
  padding: 24px;
  font-size: 3rem;
  transition: transform 0.1s ease;
}

.btn-touched {
  background-color: var(--color-yellow);
  transform: translate(-50%, -50%) scale(1.1);
}
