/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam-btn-success {
  opacity: 0;
  transition: opacity 1s ease;
}

.fill-most-of-page {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 10%;
  max-height: 80%;
  object-fit: cover;
}

#drawingCanvas {
  pointer-events: none;
}

.transparent {
  opacity: 0;
}

#webcamVideo {
  pointer-events: none;
  transition: opacity 1s ease;
  border-radius: 8px;
  transform: scaleX(-1);
}

#backLink {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.debug-container {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto;
  background-color: white;
  transition: opacity 0.5s ease;
}

.debug-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
  height: 16px;
}

.debug-value {
  display: flex;
  position: relative;
  height: 16px;
  align-items: center;
  z-index: 1;
  width: 100px;
}

.debug-value-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(var(--score) * 100%);
  background-color: #007f8b;
}

.debug-value-text {
  /* this is dumb and i'm doing it so that the text is on top of the bar,
  it's a bad way to do it but it's 1:25 AM on Friday */
  position: relative;
  z-index: 2;
}
